<div class="container">
    <ng-form name='signUpForm' class="form-horizontal" novalidate>

        <fieldset class="scheduler-border">
            <legend>Sign up for newsletters</legend>

                <div class="form-group required">
                    <label class="col-md-4 control-label">Name:</label>
                    <div class="col-md-4">
                        <input type="text"
                               name="username"
                               placeholder="Enter your name"
                               ng-model="signUpCtrl.user.username"
                               required>
                    </div>

                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">Last Name:</label>
                    <div class="col-md-4">
                        <input type="text"
                               name="lastname"
                               placeholder="Enter last name"
                               ng-model="signUpCtrl.user.lastname"
                               required>
                    </div>
                </div>

                <div class="form-group required">
                    <label class="col-md-4 control-label">Email:</label>
                    <div class="col-md-4">
                        <input type="email"
                               name="email"
                               placeholder="Email"
                               ng-model="signUpCtrl.user.email"
                               required>
                        <span ng-if="signUpForm.email.$invalid && signUpForm.email.$touched">
                            Must be a valid email address: handle@domain format
                        </span>
                    </div>
                </div>


                <div class="form-group required">
                    <label class="col-md-4 control-label">Phone:</label>
                    <div class="col-md-4">
                        <input type="text"
                               name="phone"
                               placeholder="Phone ###-###-####"
                               ng-model="signUpCtrl.user.phone"
                               pattern="(\d{3})-(\d{3})-(\d{4})"
                               required>
                        <span ng-if="signUpForm.phone.$invalid && signUpForm.phone.$touched">
                                Phone must be in the format ###-###-####.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label">Menu number:</label>
                    <div class="col-md-4">
                        <input type="text"
                               name="phone"
                               placeholder="Menu number"
                               ng-model="signUpCtrl.user.menuNumber">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-4 control-label"></label>
                    <div class="col-md-4">
                        <button class="btn btn-primary btn-sm btn-success"
                                ng-disabled="signUpForm.$invalid"
                                ng-click="signUpCtrl.submit()">
                            Submit
                        </button>
                    </div>
                </div>

                <div ng-show="!signUpCtrl.checkData() && !signUpCtrl.isInitial;" style="margin-top: 10px;">
                    No such menu number exists
                </div>
                <div ng-show="signUpCtrl.checkData() && !signUpCtrl.isInitial;" style="margin-top: 10px;">
                    Your information has been saved
                </div>
        </fieldset>

    </ng-form>
</div>



